<h1>Home Page</h1>
<p>
  <%= link_to "Manage Products", products_path %><br />
  <%= link_to "Manage Vendors", vendors_path %><br />
  <%= link_to "Manage Categories", categories_path %><br />
  <%= link_to "Manage Attachments", attachments_path %><br />
  <%= link_to "Manage Projects", projects_path %><br />
  <br />
  Manage Product Pricing<br />
  Work on a Project<br />
  <br />
  <%= link_to "Display", display_index_path %><br />
  <%= link_to "Price Index", prices_path %><br />    
  <%= link_to "Project Line Item Index", project_line_items_path %><br />
  <br />
  <br />
  <%= link_to "Contact Page", pages_contact_path %><br />
  <%= link_to "About Page", pages_about_path %><br />
  
</p>