<h1>Home Page</h1>
<p>
  <%= link_to "Product Index", products_path %><br />
  <%= link_to "Vendor Index", vendors_path %><br />
  <%= link_to "Category Index", categories_path %><br />
  <%= link_to "Price Index", prices_path %><br />
  <%= link_to "Attachment Index", attachments_path %><br />
  <%= link_to "Project Index", projects_path %><br />
  <%= link_to "Project Line Item Index", project_line_items_path %><br />
  <br />
  <br />
  <%= link_to "Contact Page", pages_contact_path %><br />
  <%= link_to "About Page", pages_about_path %><br />
  
</p>