<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @category.id %>
</p>

<p>
  <b>Title:</b>
  <%= @category.title %>
</p>

<p>
  <b>Description:</b>
  <%= @category.description %>
</p>


<%= link_to image_tag("edit.png"), edit_category_path(@category) %> |
<%= link_to image_tag("back.png"), categories_path %>
